@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);



/* Colors */	
/* ---------------------------------------- */ 
$border: 		 #c6c6c6;
$border-focus: #9FB1C1;
$brand-color:  #1b3d4d;
$booking-green: #bdcc00;
$asphalt: 		#506982;



body, html{
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: "Roboto", 'Montserrat', sans-serif;
}
@media (min-width: 1200px){
	.container {
		width: 960px;
	}
}
h1{
	font-weight: 700;
	font-size: 46px;
}

h2{
	text-transform: uppercase;
	font-size: 20px;
}
h3{
	font-size: 14px;
	font-style: italic;
	font-weight: 100;
	line-height: 26px;
}

h4{
	text-transform: uppercase;
	font-size: 16px;
	word-spacing: 2px;
}
h5{
	text-transform: uppercase;
	font-size: 12px;
	word-spacing: 2px;
}
h6{
	text-transform: uppercase;
	font-size: 10px;
	word-spacing: 2px;
	letter-spacing: 2px;
}

p{
	font-weight: 400;
}
hr{
	width: 50%;
	border-color: #dff0ff;
	
}
a {color: #fff}
a:hover,
a:focus{
	color: #EEEEEE;
	text-decoration: none;
}
#home{
	background: url(../images/heroPic1.png);
	background-size: cover;
    background-position:0% 57%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: auto;
	min-height: 710px;	
	padding-top: 60px;
	color: #ffffff;
	position: relative;

}

.layer {

	background-color: rgba(15, 25, 39, 0.6);
	background: rgba(15, 25, 39, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#home a.down-btn span.fa.fa-angle-down {
	font-size: 45px;
	border: 1px solid #63b8ff;
	border-radius: 1px;
	padding: 7px 5px;
	position: relative;
	margin-top: 100px;
	color: #ffffff;
	cursor: pointer;
	&:hover {
		background-color: #63b8ff;
	}

}
.content{
	padding-top: 16%;
}
.header-text.btn{
	border-radius: 0;
	padding: 10px 30px;
	height: 100px;
}
.header-text.btn:hover{
	color: inherit;
}
.header-text.btn:focus, 
.header-text.btn:active:focus, 
.header-text.btn.active:focus, 
.header-text.btn.focus, 
.header-text.btn:active.focus, 
.header-text.btn.active.focus {
	outline: thin dotted transparent;
	outline: none;
	outline-offset: -2px;
}
.typed-cursor {
	opacity: 1;
	padding: 10px 2px;
	background: #ffffff;
	margin: 10px;
	-webkit-animation: blink 0.5s linear infinite;
    -moz-animation: blink 0.5s linear infinite;
    animation: blink 0.5s linear infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
span.typed-cursor {
	top: -5px;
	position: relative;
}
/*.header-text{
	margin-top: 20px;	
	position: absolute;
	border: 1px solid #ffffff;
	left: 25%;
	right: 25%;
}
.header-text h1{
	padding: 20px;
	position: relative;
	margin: 0 auto;
}*/
nav#menu span.fa.fa-bars{
	font-size: 60px;
	position: fixed;
	left: 3%;
	color: #63B8FF;
	cursor: pointer;
	z-index: 1;
	top: 7%;
}

.navmenu, .navbar-offcanvas {
width: 270px;
z-index: 10;
}
.navmenu-default, 
.navbar-default .navbar-offcanvas {
	background-color: #333;
	border-color: #fff;
	border: 0;
}
.navmenu-default .navmenu-nav>li>a:hover, 
.navbar-default .navbar-offcanvas .navmenu-nav>li>a:hover, 
.navmenu-default .navmenu-nav>li>a:focus, 
.navbar-default .navbar-offcanvas .navmenu-nav>li>a:focus {
color: #fff;
background-color: transparent;
}
.nav > li {
position: relative;
display: block;
text-align: center;
}
.navmenu-default .navmenu-nav>li>a, 
.navbar-default .navbar-offcanvas .navmenu-nav>li>a {
color: #63b8ff;
text-transform: uppercase;
font-size: 18px;
line-height: 30px;
font-family: "Montserrat";
}
nav#menu span.fa.fa-bars:hover {
color: #c0e2ff;
}
.navmenu-default .navmenu-nav>.active>a, 
.navbar-default .navbar-offcanvas .navmenu-nav>.active>a, 
.navmenu-default .navmenu-nav>.active>a:hover, 
.navbar-default .navbar-offcanvas .navmenu-nav>.active>a:hover, 
.navmenu-default .navmenu-nav>.active>a:focus, 
.navbar-default .navbar-offcanvas .navmenu-nav>.active>a:focus {
color: #fff;
background-color: transparent;
}

.close:hover{
	background: #63b8ff;
	color: #ffffff;
	opacity: 1;
}
.close{
	background: #fff;
	padding: 10px 12px;
	opacity: 1;
	transition: all 0.3s;
}
.add-margin{
	margin-top: 200px;
}

#meet-us,
#services,
#works,


a.down-btn span.fa.fa-angle-down {
	font-size: 26px;
	border: 1px solid #fff;
	border-radius: 2px;
	padding: 7px 5px;
	position: relative;
	cursor: pointer;
	color: #fff;
	margin-top: 30px;
}



.service{
	-webkit-box-shadow: -2px 1px 10px -1px rgba(199,199,199,1);
	-moz-box-shadow: -2px 1px 10px -1px rgba(199,199,199,1);
	box-shadow: -2px 1px 10px -1px rgba(199,199,199,1);
	margin-top: 20px;
	margin-bottom: 0px;
	transition: all 0.3s;
	position: relative;
	padding: 60px 25px;
}
.service:hover>h4,
.service:hover>span.fa{
	color: #8c8c8c;;
}
.service:hover{
	border-color: #c59a6d;
	margin-top: 0px;
	margin-bottom: 0px;
	cursor: pointer;
	padding-top: 80px;
	padding-bottom: 80px;
}
.service p{
	font-size: 14px;
	padding-top: 20px;
	font-family: 'Lato', sans-serif;
}
.space{ padding-top: 40px; }

#cta{
	background: #282f35;
	padding: 4% 0;
}

a.btn.go-to-btn{
	text-transform: uppercase;
	border: 1px solid #c59a6d;
	word-spacing: 2px;
	padding: 7px 30px;
	border-radius: 2px;
	font-size: 12px;
	color: #ffffff;
	transition: all 0.5s;
}
a.btn.go-to-btn:hover{
	background: #c59a6d;
	color: #282f35;
}

.nopadding{
	padding: 0;
	margin: 0;
}

.portfolio-item .hover-bg{
	height: 280px;
	overflow: hidden;
	position: relative;
}

.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.66);
	padding: 30% 0;
	height: 100%;
	width: 100%;
	opacity: 0;
    transition: all 0.5s;
}
.hover-bg .hover-text>h5{
	opacity: 0;
	-webkit-transform: translateY(100%);
            transform: translateY(100%);
            transition: all 0.3s;
}
.hover-bg:hover .hover-text>h5{
	opacity: 1;
    -webkit-backface-visibility:hidden;
    -webkit-transform: translateY(0);
            transform: translateY(0);
}
.hover-bg .hover-text>.hline{
	opacity: 0;
	-webkit-transform: translateY(0);
            transform: translateY(0);
            transition: all 0.3s;
}
.hover-bg:hover .hover-text>.hline{
	opacity: 1;
    -webkit-backface-visibility:hidden;
   -webkit-transform: translateY(100%);
            transform: translateY(100%);
}
.hover-bg:hover .hover-text{
	opacity: 1;
}
.hline{
	height: 5px;
	width: 30px;
	border-top: 2px solid #f1f1f1;
	margin: 0 auto
}

.hover-text p.lead{
	color: #c59a6d;
}


a.btn.read-more-btn{
	text-transform: uppercase;
	background: #c59a6d;
	color: #282f35;
	word-spacing: 2px;
	padding: 7px 30px;
	border-radius: 2px;
	font-size: 12px;
	color: #ffffff;
	transition: all 0.5s;
}
a.btn.read-more-btn:hover{
	background: #222222;
	color: #ffffff;
}

a.btn.send-btn { 
	text-transform: uppercase;
	background: #63b8ff;
	color: #282f35;
	padding: 15px 35px;
	border-radius: 0;
	font-size: 12px;
	color: #ffffff;
	transition: all 0.5s;

}

a.btn.send-btn:hover{
	background: transparent;
	border: 1px solid #63b8ff;;
	color: #ffffff;
	
}


ul, ol{
	padding: 0;
	moz-padding: 0;
	webkit-padding: 0;
}

a.btn.send-btn2 {
	text-transform: uppercase;
	background: #63b8ff;
	color: #282f35;
	padding: 15px 35px;
	border-radius: 0;
	font-size: 12px;
	color: #ffffff;
	transition: all 0.5s;
	margin-top: 20px
}

a.btn.send-btn2:hover{
	background: transparent;
	border: 1px solid #63b8ff;;
	color: #63b8ff;
	background-color: #fff;

	
}




.team {
	border: 1px solid #c3c3c3;
	padding: 70px 20px;
	text-align: center;
	opacity: 0.7;
	transition: all 0.8s;
	max-height: 340px;
	margin-bottom: 30px;
}

.team hr{
	border-width: 2px;
	border-color: #dcc2a7;
}
.team:hover{
	opacity: 1;
	border: 1px solid #222;
}
.team img {
	width: 80px;
	margin: 0 auto;
}


.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 10px;
	height: 10px;
	margin: 2px 5px;
	filter: Alpha(Opacity=50);
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 0;
	background: #fff;
}

#contact{
	background: #282f35;
	padding: 100px 0;
	color: #ffffff;
}

ul.social li{
	display: inline-block;
	margin-right: 10px;
	margin-top: 30px;
}

ul.social li a{
	color: #ffffff;
	font-size: 45px;
}

ul.social li a:hover{
	color: #018def;
	font-size: 45px;
}


address strong{
	text-transform: uppercase;
	font-style: normal;
	font-family: 'Montserrat', sans-serif;
}
address:before{
	content: "\f041";
	display: inline-block;
  	font: normal normal normal 14px/1 FontAwesome;
  	font-size: 20px;
  	text-rendering: auto;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	color: #fff;
  	vertical-align: middle;
  	margin-right: 15px;
  	margin-left: -30px;
}
address{
	font-style: italic;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	letter-spacing: 1px;
}

#contact input.form-control,
#contact textarea.form-control {
margin-bottom: 30px;
}

#contact .form-control {
	display: block;
	width: 100%;
	height: 40px;
	padding: 7px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #fff;
	background-color: #1e2429;
	background-image: none;
	border: 0;
	border-top: 2px solid transparent;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
	transition: all 0.5s;
}

#contact .form-message {
	display: block;
	width: 100%;
	height: 200px;
	padding: 7px 12px;
	font-size: 16px;
	line-height: 1.42857143;
	color: #fff;
	background-color: #1e2429;
	background-image: none;
	border: 0;
	border-top: 2px solid transparent;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
	transition: all 0.5s;
}

#contact .form-control:focus {
	border-color: #63b8ff;;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
    color:    #fff;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    font-style: italic;
}
input:-moz-placeholder, textarea:-moz-placeholder { 
    color:    #fff;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    font-style: italic;
}
input::-moz-placeholder, textarea::-moz-placeholder { 
    color:    #fff;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    font-style: italic;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
    color:    #fff;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    font-style: italic;
}

nav#footer{
	background: #282f35;
	padding: 40px 0;
	color: #ffffff;
	border-bottom: 5px solid #63b8ff;
}
#footer span.fa{
	color: #fff;
	font-size: 26px;
	margin-left: 10px;
}
#footer a{
	color: #fff;
}
#footer a:hover{
	color: #c59a6d;}


/**********
Custom 
***********/

.main-#logan {
	color: #fff;
	font-size: 34px;
	font-family: "Montserrat";
}

.call-to-action-header {
	font-size: 32px;
	font-family: "Montserrat";
	color: #63b8ff;
	padding: 20px;
	-webkit-box-shadow: -2px 1px 10px -1px rgba(199,199,199,1);
	-moz-box-shadow: -2px 1px 10px -1px rgba(199,199,199,1);
	box-shadow: -2px 1px 10px -1px rgba(199,199,199,1);
}

.call-to-action-box-header {
	font-size: 0.75em;
	font-family: "Montserrat";
	color: #63b8ff;


	&:hover  {
	font-size: 1em;
	font-family: "Montserrat";
	color: red;
	}
}

.icon-demo {
	margin: 0 auto; 
	display: block;
	width: 80px;
}

.desc-p {
	color: #8c8c8c;
}

.bio-name {
	font-family: "Montserrat";
	color: #595959;
	font-size: 11px;
}

.call-to-action-header-dark {
	font-size: 32px;
	font-family: "Montserrat";
	color: #63b8ff;
	padding: 20px;
	border: solid 3px #63b8ff;

}

.custom-btn-sign-up {
	z-index: 10000;
	border: solid 2px #63b8ff;;
	margin: 0 auto;
	border-radius: 0;
	width: 200px;
	margin-left: 20px;
	margin-top: 25px;
}


.custom-btn-sign-up2 {
	z-index: 10000;
	border: solid 2px #fff;
	margin: auto 0;
	border-radius: 0;
	width: 200px;
	color: #fff;
	margin-left: 20px;
	margin-top: 25px;
}
.custom-btn-sign-up2:hover {
	color: #fff;
	background-color: #63b8ff;
	border-radius: 0;
	border: none;
	
}

#head-title {
	color: #c0e2ff;

}

.main-page-slogan {
	font-size: 22px;
}

