nav#footer {
  background: #282f35;
  padding: 40px 0;
  color: #ffffff;
  border-bottom: 5px solid #63b8ff;
}

#footer span.fa {
  color: #fff;
  font-size: 26px;
  margin-left: 10px;
}

#footer a {
  color: #fff;
}

#footer a:hover {
  color: #c59a6d;
}
