#home {
  background: url(../images/heroPic1.png);
  background-size: cover;
  background-position: 0% 57%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: auto;
  min-height: 710px;
  padding-top: 60px;
  color: #ffffff;
  position: relative;
}

.layer {
  background-color: rgba(15, 25, 39, 0.6);
  background: rgba(15, 25, 39, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#home a.down-btn span.fa.fa-angle-down {
  border: 2px solid #63b8ff;
  border-radius: 1px;
  padding: 12px 13px;
  position: relative;
  margin-top: 100px;
  color: #ffffff;
  cursor: pointer;
  transition: all 750ms ease-in-out;
}

#home a.down-btn span.fa.fa-angle-down:hover {
    background-color: #63b8ff;
}

.content {
  padding-top: 16%;
}

.header-text.btn {
  border-radius: 0;
  padding: 10px 30px;
  height: 100px;
}

.header-text.btn:hover {
  color: inherit;
}

.header-text.btn:focus,
.header-text.btn:active:focus,
.header-text.btn.active:focus,
.header-text.btn.focus,
.header-text.btn:active.focus,
.header-text.btn.active.focus {
  outline: thin dotted transparent;
  outline: none;
  outline-offset: -2px;
}

.typed-cursor {
  opacity: 1;
  padding: 10px 2px;
  background: #ffffff;
  margin: 10px;
  animation: blink 0.5s linear infinite;
}
