ul.social li {
  display: inline-block;
  margin-right: 10px;
  margin-top: 30px;
}

ul.social li a {
  color: #ffffff;
  font-size: 45px;
}

ul.social li a:hover {
  color: #018def;
  font-size: 45px;
}
